/* Write your CSS here */

.bg-container {
  background-image: linear-gradient(to bottom, #dfe2e5, #ace0f9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-store-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.main-heading {
  font-family: 'Bree Serif';
  color: #1e293b;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
}

.search {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.search-icon {
  height: 30px;
}

.tabs-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.apps-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px;
}
