/* Write your CSS here */

.tab-button {
  color: #7b8794;
  font-family: 'Bree Serif';
  font-size: 14px;
  font-weight: 500;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #dfe2e5;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}

.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
